<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
</head>
<body>
    <% include partials/header.ejs %>
    <div class="container">
        
        <h1>About</h1>
        <p>Save your notes we provide complete encryption so that only you can view your NOTES</p>
        <p class="mt-2">Contact: We don't have</p>

    </div>
    <% include partials/scripts.ejs %>
</body>
</html>